@tailwind base;
@tailwind components;
@tailwind utilities;

  :root {
    --foreground-rgb: 245, 245, 245;
    --background-start-rgb: 35, 35, 35;
    --background-end-rgb: 15, 15, 15;
  }


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#topArtists, #topTracks {
  width: 49%;
  height: 387px;
}

#sidebar {
  width: 239px;
}

#playlistSidebar {
  height: 735px;
}

#exploreCard {
  min-height: 500px;
  width: 72%;
  border: rgba(255, 255, 255, 0.25) solid 1px;
  margin-left: 1rem;
  margin-top: 1rem;

}

#currentlyPlaying {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 1rem;
border: 1px solid rgba(255, 255, 255, 0.15);
height: 375px;
width: 375px;
border-radius: 1rem;
box-shadow: 5px 5px 5px rgb(5, 5, 5);
}

::-webkit-scrollbar {
  width: 5px;
  
}

::-webkit-scrollbar-track{
 display: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.02);
  border-radius: 25px;
}
