@tailwind base;
@tailwind components;
@tailwind utilities;

  :root {
    --foreground-rgb: 245, 245, 245;
    --background-start-rgb: 10, 10, 10;
    --background-end-rgb: 15 15, 15;
  }

@keyframes fadeIn {
  from {opacity: 0; 
    filter: blur(10px);
  }
  to {opacity: 1; 
    filter: blur(0px);
  }
}

@keyframes colorChange{
  0% {background-color: rgba(238, 255, 0, 0.25);}
  25%{ background-color: rgba(0, 255, 34, 0.25);}
  50% {background-color: rgba(0, 247, 255, 0.25);}
  75% {background-color: rgba(255, 0, 170, 0.25);}
  100% {background-color: rgba(228, 255, 0, 0.25);}
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}


#topArtists, #topTracks {
  line-height: 0.5rem;
  flex-grow: inherit;
  z-index: 10;
  animation-name: fadeIn;
  animation-duration:0.3s ;
}

#sidebar {
  min-width: 15%;
}


#exploreCard {
  width: 72%;
  margin-left: 1rem;
  margin-top: 1rem;
  z-index: 3;

}

#currentlyPlaying {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 1rem;
border: 1px solid rgba(255, 255, 255, 0.15);
height: 400px;
width: 400px;
border-radius: 0.75rem;
box-shadow: 5px 5px 10px rgb(0, 0, 0);
background-color: rgba(0, 0, 0, 0.8);
z-index: 10;
line-height: 0.5rem;
}

@media screen and (max-width: 1024px) {
  #currentlyPlaying {
    display: none;
  }
  
  #exploreCard {
    width: 100%;
  }
  #topArtist {
    line-height: 0px;
    width: 100%;
    
  }
  #exploreCard {
    width: 100%;
    margin: 0px;
    padding: 0rem 0.5rem;
  }

  #absoluteBottom {
    animation-play-state: paused;
  }
}


#absoluteBottom {
position: absolute;
animation-name: colorChange;
animation-duration: 30s;
animation-iteration-count: infinite;
 bottom:0%;
 right: 0%;
 width: 80%;
 height: 45%;
 border-radius: 80%;
 z-index: 0;
 filter:blur(10rem);
}

::-webkit-scrollbar {
  width: 5px;
  
}

::-webkit-scrollbar-track{
 display: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.20);
  border-radius: 25px;
}
