@tailwind base;
@tailwind components;
@tailwind utilities;

  :root {
    --foreground-rgb: 245, 245, 245;
    --background-start-rgb: 20, 20, 20;
    --background-end-rgb: 10, 10, 10;
  }


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#topArtists, #topTracks {
  width: 49%;
  height: 387px;
}

#sidebar {
  min-width: 239px;
  height: screen;
}

#playlistSidebar {
  height: 75%;

}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track{
 background-color: rgba(255, 255, 255, 0.1);
 border-radius: 25px;
 border-style: solid;
 border-width: 0.5px;
 border-color: rgba(245, 245, 220, 0.25);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}
